.BurgerConstructor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 568px;
}

.BurgerConstructorEmpty {
    text-shadow: 0 0 20px #4C4CFF;
}

.BurgerSection {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 10px;
}

.Total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.Price {
    display: flex;
    justify-content: center;
    align-items: center;
}